/* ------------header -------------- */

.header {
    background-color: black;
}

.header-tittle {
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.header-menu {
    position: absolute;
}

.burger-menu {
    display: block;
    align-items: center;
    flex-shrink: 0;
    outline: none;
    cursor: pointer;
    transition-property: opacity,filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    width: 24px;
    height: 24px;
    position: relative;
    box-sizing: content-box;
    transition: background-color .3s;
    }

    .burger-box {
        display: block;
        position: relative;
        margin: 0 auto;
        top: 50%;
        left: 12px;
    }

    .burger-inner {
        display: block;
        top: 50%;
        width: 24px;
        height: 2px;
        background-color: #acacac;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease;
    }

    .burger-inner::before {
        display: block;
        content: '';
        width: 24px;
        height: 2px;
        top: -7px;
        background-color: #acacac;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease;
    }

    .burger-inner::after {
        display: block;
        content: '';
        bottom: -7px;
        width: 24px;
        height: 2px;
        background-color: #acacac;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease;
    }

    .nav-wrapper {
        max-width: 400px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .drop-nav {
        display: block;
        width: 100%;
        max-width: 400px;
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 3;
    }

    .c-nav__item {
        margin-top: 20px;
    }

    .drop-list-link {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        white-space: pre;
        color: #fff;
        display: inline-block;
        
    }

    .drop-list-link:hover {
        text-decoration: underline;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .drop-list-link:focus {
        text-decoration: underline;
    }

    .list-link-subtitle {
        font-family: Figtree-Regular,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        padding-right: 5px;
        color: #fff;
        text-transform: none;
        position: relative;
        max-width: 182px;
        white-space: break-spaces;
    }

    .list-link-subtitle:hover {
        text-decoration: underline;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .politic-link:hover {
        text-decoration: underline;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .media-icon:hover {
        text-decoration: underline;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .is-hidden {
        display: none;
    }

    .user-menu {
        text-align: center;
        border-top: 1px solid #2a2a2a;
    }

    .close-drop-btn {
        display: block;
        align-items: center;
        flex-shrink: 0;
        outline: none;
        cursor: pointer;
        transition-property: opacity,filter;
        transition-duration: .15s;
        transition-timing-function: linear;
        color: #acacac;
        text-transform: none;
        background-color: transparent;
        border: none;
        overflow: visible;
        transition: background-color .3s;
        padding: 0px;
    }

    .c-nav__wrap {
        margin-top: 38px;
        border-top: 1px solid #fff;
    }

    .menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 782px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        list-style: none;
    }

    .list-link {
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .43px;
        text-transform: uppercase;
        font-family: Montserrat,sans-serif;
    }

    .life-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .life-list-item {
        max-width: 80px;
    }

    .list-item-link {
        font-family: Figtree-Regular,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
        text-transform: none;
        position: relative;
        white-space: break-spaces;
    }

    .list-item-link:hover {
        text-decoration: underline;
        color: white;
        transition: color 0.3s ease-in-out;
    }

    .share-link-nav {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-top: 10px;
        padding: 20px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        }

    .share-title {
        white-space: nowrap;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        font-family: inherit;
        font-style: normal;
        letter-spacing: inherit;
        margin: 0;
        text-align: inherit;
    }

    .share__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      
        padding: 0;
        margin: 0;
    }

    .c-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        color: #767676;
    }

    .politic-nav {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .politic-link {
        font-family: Figtree-Regular,sans-serif;
        font-size: 16px;
        color: #fff;
        text-decoration: underline;
        ::after {
            content: "|";
            padding: 0 5px;
            font-family: Figtree-Regular,sans-serif;
            font-size: 16px;
            color: #fff;
        }
    }

/* ------------header end -------------- */

/* --------------footer------------------- */
    
.c-footer {
    z-index: 2;
    position: relative;
    background-color: #000;
    color: #e5e5e5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c-footer__wrapper {
    box-sizing: border-box;
    margin: auto;
    max-width: 1280px;
    padding: 0 15px;
}

.c-footer__top {
    padding: 45px 0 38px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin: 0;
}

.c-footer__brand {
    align-items: center;
    display: flex;
    flex: 0 0 176px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c-brand__big {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.c-brand__small {
    display: none;
    align-items: center;
    width: auto;
    height: 28px;
    color: #0dbe98;
}

.c-footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1044px;
    height: 150px;
    margin-left: 30px;
    font-size: 12px;
    color: #e5e5e5;
    margin-top: 15px;

    .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 6;
    };
}

.c-footer__nav__item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Figtree-Regular,sans-serif;
    margin-bottom: 15px;
    min-width: 144px;
    font-size: 12px;
    color: #e5e5e5;
    :hover{
        color: #0dbe98;
    };
    :focus{
        color: #0dbe98;
    };
};

.c-footer__copy-top-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.c-footer__copy-top {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

